@{
    ViewBag.Title = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Pets Vaccine App</h1>
    <p>Welcome to our Online Application for Pets Vaccination</p>
    <img src="~/Content/img/petlogo.jpg" alt="Pet Vaccine" />
</div>
